<div class="about container">
  <div class="row about-header">
    <div class="col-sm-6 about-title">
      <h1 style="margin-top: 40%; font-size: 62px">Ali</h1>
    </div>
    <div class="col-sm-6 about-image-container">
      <img class="about-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1498277852/ali.jpg" alt="Ali Memarian" />
    </div>
  </div>
  <div class="about-copy">
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ali A. Memarian has composed for Emmy Award winning series such as Project Runway, Top Chef, HBO's Project Greenlight, TLC's Who Do You Think You Are? and Bravo's The Real Housewives franchise for the past decade.  He graduated from Berklee College of Music as a guitar principal with a B.M. in composition in 2006, and is currently a PhD candidate in Musicology at Claremont Graduate University.<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  With over twenty years of playing guitar, a decade of songwriting and producing songs for feature films and composing for internationally syndicated television and advertisement, Ali’s extensive list of credits is only matched by his passion for imparting the enthusiasm for music he still feels every time he picks up a guitar or heads into the studio. </p>
  </div>
</div>
