<div class="container cta">
  <h3 class="cta-header">Meet the Owner</h3>
  <div class="row" style="padding-bottom: 5%">
    <div class="col-sm-6">
      <img class="cta-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1498093819/ali1.jpg" alt="Ali Memarian" />
    </div>
    <div class="col-sm-6">
      <p class="cta-copy">With over twenty years of experience playing guitar, a decade of songwriting and producing songs for feature films and composing for internationally syndicated television and advertisement, Ali Memarian's extensive list of credits is only matched by his passion for imparting the enthusiasm for music he still feels every time he picks up a guitar or heads into the studio.</p>
    </div>
  </div>
</div>
