<div class="footer">
  <p class="footer-copy">Copyright SBGL 2017 &nbsp; &nbsp; <img class="footer-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1497936951/guitartree_red.png" alt="silicon beach guitar lessons logo" />&nbsp; &nbsp; Website by <a class="footer-link" href="http://www.v-k.la/" target="blank">VK/LA</a></p>
</div>
