<div class="hero">
  <div style="text-align: center">
    <h2 class="hero-header">Learn to play in L.A.</h2>
    <h2 class="hero-header-scroll"><span class="color1">Learn</span><span class="color2"> to </span><span class="color3">Play</span><span class="color1"> in </span><span class="color2">L.A.</span></h2>

    <h3 class="hero-subhead">Professional instruction by musicians/composers working in television, film & entertainment</h3>
    <h3 class="hero-subhead" style="margin-top: 1%; text-transform: uppercase; font-size: 28px; font-weight: bold">Lessons from $69</h3>
  </div>
</div>











<!--  <h2 class="hero-header"><span style="color: #FF49F5">L</span><span style="color: ##FF49F5">e</span><span style="color: #FF5349">a</span><span style="color: #16FF97">r</span><span style="color: #FF49F5">n </span><span style="color: #FF5349">t</span><span style="color: #16FF97">o </span><span style="color: #FF49F5">P</span><span style="color: #FF5349">l</span><span style="color: #16FF97">a</span><span style="color: #FF49F5">y </span><span style="color: #FF5349">i</span><span style="color: #16FF97">n </span><span style="color: #FF49F5">L.</span><span style="color: #FF5349">A.</span></h2>
 -->

<!--  <h2 class="hero-header-scroll">Learn to<span class="color1">P</span><span class="color2">l</span><span class="color3">a</span><span class="color1">y </span>in L.A.</h2>
 -->

<!--  <button class="btn btn-default hero-btn">Rates starting at $69</button>
 -->
