<div class="hero">
  <h2 class="hero-header">Learn to Play in L.A.</h2>
  <div style="text-align: center">
    <div class="btn-group btn-group-lg hero-buttons" role="group" aria-label="...">
      <button type="button" class="btn btn-default hero-btn" id="btn1">Guitar + Ukelele</button>
      <button type="button" class="btn btn-default hero-btn" id="btn2" style="border-left: 1px solid #F5F5F5">Music Production</button>
      <button type="button" class="btn btn-default hero-btn" id="btn3" style="border-left: 1px solid #F5F5F5">Theory + Composition</button>
    </div>
  </div>
</div>
