<div class="intro">
  <div class="intro-copy intro1">
    <p>Guitar + Ukelele lessons by working professional musicians, starting at $69.</p>
    <p>More copy about what new students can expect - how long are lessons, how many lessons to learn x amount of songs or achieve some other benchmark, maybe something about fun group lessons, ask about packages, etc. Roughly this much copy!</p>
  </div>
  <div class="intro-copy intro2">
    <p>Music Production lessons by composers currently writing music for film, television & entertainment - rewrite/tailor.</p>
    <p>More copy about what music production lessons entail, who may be interested in them, mention credentials and link to bio. Some more stuff about music production lessons. Roughly this much copy!</p>
  </div>
  <div class="intro-copy intro3">
    <p>Theory & Composition lessons by composers currently writing music for film, television & entertainment - rewrite/tailor.</p>
    <p>Mooooore copy! This could be a good place to mention working with people in the industry. Who might be interested in these kinds of lessons and what can they expect. Roughly this much copy!</p>
  </div>
</div>
