<div class="intro-container">
  <div class="intro">
    <div class="btn-group btn-group-lg hero-buttons" role="group" aria-label="...">
      <button type="button" class="btn btn-default hero-btn btn1" id="btn1">Guitar & Ukelele</button>
      <button type="button" class="btn btn-default hero-btn btn2" id="btn2" style="border-left: 1px solid black">Music Production</button>
      <button type="button" class="btn btn-default hero-btn btn3" id="btn3" style="border-left: 1px solid black">Theory + Composition</button>
    </div>
    <div class="container">
      <div class="intro-copy intro1 row">
        <div class="col-sm-6">
          <img class="img-responsive" style="height: 300px" src="http://res.cloudinary.com/kurzweg/image/upload/v1499800683/guitar_stock2.jpg" alt="guitars" />
        </div>
        <div class="col-sm-6">
          <p>Guitar and ukulele lessons are designed to get new students playing immediately.  Whether beginning, intermediate or advanced, the curriculum seamlessly emphasizes practical playing and performance with and academic background so that knowledge of your instrument builds on knowledge of general music theory. </p>
          <button class="btn btn-default cta-btn">Book a Lesson</button>
        </div>
      </div>
      <div class="intro-copy intro2 row">
        <div class="col-sm-6">
          <img class="img-responsive intro-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1498265611/production.jpg" alt="studio" />
        </div>
        <div class="col-sm-6">
          <p>Music production lessons are heavily geared toward teaching industry standard methods of audio engineering, recording, mixing and production while simultaneously giving students strong foundational knowledge in music theory and ear training.  Topics such as acoustics and sound reinforcement, audio engineering for media and technology and recording practices are covered as well.</p>
          <button class="btn btn-default cta-btn">Book a Lesson</button>
        </div>
      </div>
      <div class="intro-copy intro3 row">
        <div class="col-sm-6">
          <img class="img-responsive intro-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1498265612/sheetmusic.jpg" alt="sheetmusic" />
        </div>
        <div class="col-sm-6">
          <p>Composition lessons also incorporate a curriculum of practical application along with an academic foundation.  Score writing, MIDI programming and general music production skills are all integrated into the same curriculum so that all students will have the skills necessary to fully realize compositions.  </p>
          <button class="btn btn-default cta-btn">Book a Lesson</button>
        </div>
      </div>
    </div>
  </div>
</div>
