<div class="nav">
  <div class="container nav-top">
        <div class="row">
          <div class="col-sm-6 nav-brand">
            <img class="nav-brand-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1497145934/guitartree_pink.png" alt="silicon beach guitar lessons logo" />
            <h1 class="nav-brand-title"><a href="/" class="nav-brand-title-link">Silicon Beach Guitar Lessons</a></h1>
          </div>
          <div class="col-sm-6 nav-links">
            <a href="/rates" class="nav-link">Rates</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/contact" class="nav-link">Contact</a>
          </div>
        </div>
      </div>
    <div class="nav-stripe"></div>
</div>
