<nav class="nav navbar navbar-inverse navbar-static-top">
  <div class="nav-top">
      <div class="navbar-header">
        <a class="navbar-brand nav-brand-title nav-brand-title-link" href="/">
          <span><img src="http://res.cloudinary.com/kurzweg/image/upload/v1497145934/guitartree_watermelon.png" width="50" height="50" alt="silicon beach guitar lessons logo" /></span>
          Silicon Beach Guitar Lessons</a>
      </div>
      <div class="nav-links">
        <a href="/rates" class="nav-link">Rates</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/contact" class="nav-link">Contact</a>
      </div>
    </div>
  <div class="nav-stripe"></div>
</nav>
