<div class="nav">
  <div class="nav-top"></div>
  <div class="nav-stripe"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 nav-brand">
        <img src="http://res.cloudinary.com/kurzweg/image/upload/v1497145934/guitartree_black250.png" alt="silicon beach guitar lessons logo" style="width: 60px; height: 60px; margin-top: 2%" />
        <h1 style="display: inline-block; vertical-align: text-bottom">Silicon Beach Guitar Lessons</h1>
      </div>
      <div class="col-sm-6 nav-links">
        <a href="/rates" class="nav-link">Rates</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/contact" class="nav-link">Contact</a>
      </div>
    </div>
  </div>
  <hr class="nav-border" />
</div>
