<div class="rates container">
  <div class="row rates-header">
    <div class="col-sm-6 rates-title">
      <h1 style="font-size: 52px">Rates + Packages</h1>
    </div>
    <div class="col-sm-6 rates-image-container">
      <img class="rates-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1498354102/guitar_sunset.jpg" alt="playing guitar at the beach" />
    </div>
  </div>
  <div class="row rates-copy">
    <div class="col-sm-6">
      <table class="table rates-table" >
        <tbody>
          <tr>
            <td>Group Lessons</td>
            <td>$69</td>
          </tr>
          <tr>
            <td>Private Lessons</td>
            <td>$99</td>
          </tr>
          <tr>
            <td>Travel Charge</td>
            <td>$10</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default rates-btn">Book a Lesson</button>
    </div>
    <div class="col-sm-6">
      <p class="rates-text">This page can definitely use some more copy. Maybe summarize the basic curriculum/what you'll cover in the first lessons for each category - instrument, theory/composition, production. Explain how group lessons work - how many people minimum, etc.</p>
    </div>
  </div>
</div>
