<div class="rates container">
  <div class="row rates-header">
    <div class="col-sm-6 rates-title">
      <h1 style="font-size: 52px">Rates + Packages</h1>
    </div>
    <div class="col-sm-6 rates-image-container">
      <img class="rates-image" src="http://res.cloudinary.com/kurzweg/image/upload/v1498784208/guitar_stock.jpg" alt="guitar stock image" />
    </div>
  </div>
  <div class="row rates-copy">
    <div class="col-sm-6">
      <table class="table rates-table" >
        <tbody>
          <tr>
            <td>Group Lessons</td>
            <td>$69</td>
          </tr>
          <tr>
            <td>Private Lessons</td>
            <td>$99</td>
          </tr>
          <tr>
            <td>Travel Charge</td>
            <td>$10</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default rates-btn">Book a Lesson</button>
    </div>
    <div class="col-sm-6">
      <p class="rates-text">All Silicon Beach Music instructors are music industry professionals and the philosophy of our curriculum is based around practical application seamlessly integrated with a solid music theory foundation.  We believe that nothing should be learned to be played without first being understood, and make sure that you are playing from day one.</p>
    </div>
  </div>
</div>
