<div class="ww">
  <div class="ww-content">
    <h4 class="ww-header">Join Us for Wine Wednesdays!</h4>
    <p class="ww-copy">Students will be invited to an evening of free flowing wine, desserts and music!  Students can perform, jam or just enjoying sharing in conversation about music with other students and Silicon Beach Guitar Lesson teachers.  Special music industry guest performers and lecturers will also regularly be featured to share their experiences and advice with students.  By invite only.</p>
  </div>
</div>
