<!DOCTYPE html>
<html>
  <head>
    <title>Silicon Beach Guitar Lessons - Rates</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <script src="../javascripts/main.js"></script>
    <script>
      WebFontConfig = {
        google: {
          families: ['Josefin Sans', 'Bungee Inline', 'Nunito']
        }
      };

      (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
         })(document);
    </script>
  </body>
</html>
