html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

a {
  color: #FF5349;
}

.fouc {
  display: none;
}

/*Navigation
*/
.nav {
  height: 71px;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #000000;
  z-index: 100;
}

.nav-top {
  height: 66px;
  width: 100%;
}

.nav-stripe {
  height: 5px;
  background-color: #24A5DA;
  z-index: 100;
  position: relative;
}

.nav-brand {
  display: inline-flex;
  margin-top: -1%;
  color: #F5F5F5;
}

.nav-brand-image {
  width: 50px;
  height: 50px;
  margin-top: 3%;
  margin-left: 3%
}

.nav-brand-title {
  font-family: 'Poiret One';
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  padding-top: 1%;
  color: #F5F5F5;
  font-weight: bold;
}

.nav-brand-title:hover, .nav-brand-title-link:hover {
  color: #FF5349;
  text-decoration: none;
}

.nav-brand-title-link {
  text-decoration: none;
  color: #F5F5F5;
}

.nav-links {
  text-align: right;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2%;
  color: #F5F5F5;
  font-family: 'Nunito';
  font-size: 14px;
  line-height: 4.5em;
}

.nav-link:hover {
  color: #FC527F;
  text-decoration: none;
}

/*Hero
*/

.hero {
  margin-top: -2%;
  background-color: rgba(43, 46, 37, .5);
  height: 460px;
}

.heroalt {
  height: 400px;
  background-color: #000000;
  width: 100%;
}

.hero-image {
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1499375519/mixer.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin-top: -5%;
}

.hero-header {
  color: #FFFFFF;
  font-family: 'Monoton';
  text-align: center;
  padding-top: 15%;
  font-size: 68px;
}

.hero-header-scroll {
  display: none;
  color: #FFFFFF;
  font-family: 'Monoton';
  text-align: center;
  padding-top: 16%;
  font-size: 60px;
}

.heroalt-header {
  color: #FFFFFF;
  font-family: 'Monoton';
  text-align: center;
  font-size: 56px;
}

.heroalt-header-scroll {
  display: none;
  color: #FFFFFF;
  font-family: 'Monoton';
  text-align: center;
  font-size: 48px;
}

.color1 {
  color: #24A5DA;
}

.color2 {
  color: #FF5349;
}

.color3 {
  color: #FC527F;
}

.hero-subhead {
  color: #F5F5F5;
  font-family: 'Josefin Sans';
  letter-spacing: 2px;
  width: 65%;
  border: #F5F5F5;
  margin: 0 auto;
  font-size: 26px;
  font-weight: bold;
}

.heroalt-subhead {
  color: #F5F5F5;
  font-family: 'Josefin Sans';
  letter-spacing: 2px;
  border: #F5F5F5;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bold;
}

.hero-alternate {
  color: #FF5349;
}

.hero-buttons {
  width: 85%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;
  cursor: pointer;
}

.hero-btn {
  border: none;
/*  color: #F5F5F5;
*/  font-family: 'Expletus Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 3em;
  width: 33%;
  font-size: 14px;
  margin-bottom: 5%;
}

.btn1-postclick {
  background-color: #24A5DA;
}

.btn1 {
  background-color: #000000;
  color: #24A5DA;
  border: 2px solid #24A5DA;
  outline: 0;
}

.btn1:hover, .btn1:focus, .btn1:active:hover, .btn1:active:focus, .btn1:active:visited {
    background-color: transparent;
    color: #24A5DA;
    border: 2px solid #24A5DA;
    outline: 0;
  }

.btn2 {
  background-color: #FF5349;
}

.btn2:hover, .btn2:focus, .btn2:active:hover, .btn2:active:focus, .btn2:active:visited {
    background-color: transparent;
    color: #FF5349;
    border: 2px solid #FF5349;
    outline: 0;
  }

  .btn3 {
    background-color: #FC527F;
  }

  .btn3:hover, .btn3:focus, .btn3:active:hover, .btn3:active:focus, .btn3:visited {
      background-color: transparent;
      color: #FC527F;
      border: 2px solid #FC527F;
      outline: 0;
    }

  .hero-header-container {
    width: 100%;
    height: 400px;
    background-color: #000000;
    color: #F5F5F5;
  }

/*Intro
*/

.intro {
  background-color: #000000;
  font-family: 'Josefin Sans';
  text-align: center;
  font-size: 18px;
  width: 100%;
  max-height: 550px;
}

.intro-copy {
  color: #F5F5F5;
  padding: 2%;
  width: 95%;
  margin: 0 auto;
  text-align: left;
  line-height: 2em;
}

.intro1, .intro2, .intro3 {
  padding-bottom: 5%;
}

.intro2 {
  display: none;
}

.intro3 {
  display: none;
}

.intro-image {
  height: 300px;
}

/*Wine Wednesday
*/
.ww {
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1499379497/palms.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

.ww-content {
  background-color: rgba(43, 46, 37, .8);
  width: 75%;
  margin: 0 auto;
  color: #F5F5F5;
  text-align: center;
  padding: 3%;
  border-radius: 5px;
  font-family: 'Josefin Sans';
}

.ww-header {
  font-size: 26px;
}

.ww-copy {
  line-height: 1.5em;
  font-size: 18px;
}

/*CTA
*/

.cta {
  background-color: #000000;
  color: #F5F5F5;
  padding-top: 2%;
  margin: 0 auto;
  width: 100%;
}

.cta-header {
  text-align: center;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2%;
}

.cta-image {
  max-height: 400px;
  padding: 3%;
  display: block;
  margin: 0 auto;
  margin-top: -5%;
}

.cta-copy {
  padding-top: 10%;
  font-family: 'Josefin Sans';
  font-size: 18px;
  line-height: 2em;
}

.cta-btn {
  border: 2px solid #FC527F;
  color: #FC527F;
  background-color: #000000;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 3em;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 66%;
  border-radius: 2px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cta-btn:hover, .cta-btn:active, .cta-btn:active:hover .cta-btn:active:visited {
    background-color: #000000 !important;
    border: 3px solid #FF5349 !important;
    color: #FF5349;
    font-weight: bold;
  }

/*  About page
*/

.about, .rates, .form {
  background-color: #F5F5F5;
  width: 100%;
  padding: 0 !important;
}

.about-header, .rates-header, .heroalt-header, .form-header {
  width: 100%;
  background-color: #000000;
  margin: 0 auto;
}

.about-title, .rates-title, .heroalt-title, .form-title {
  background-color: #000000;
  color: #F5F5F5;
  font-family: 'Monoton';
  font-size: 62px;
  text-align: center;
  max-width: 100%;
  height: 250px;
  padding-top: 10%;
}

.about-image, .rates-image, .heroalt-image, .form-image {
  padding-top: 5%;
  max-height: 225px;
  margin-top: 8%;
  margin-bottom: 2%;
}

.about-copy {
  font-family: 'Josefin Sans';
  font-size: 18px;
  width: 55%;
  margin: 0 auto;
  margin-top: 3%;
  line-height: 1.5em;
}

/*Rates
*/

.rates-copy {
  width: 66%;
  margin: 0 auto;
  padding-top: 2%;
}

.rates-table {
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 18px;
  width: 75%;
  display: block;
  margin: 0 auto;
}

.rates-btn {
  border: none;
  background-color: #FC527F;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 3em;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 13em;
  border-radius: 2px;
  margin-top: 5%;
  margin-bottom: 5%;

}

.rates-text {
  font-family: 'Josefin Sans';
  font-size: 18px;
}

/*Contact
*/

.form-form {
  width: 66%;
  margin: 0 auto;
  margin-top: 2%;
}

.form-label {
  font-family: 'Josefin Sans';
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.form-btn {
  display: block;
  width: 33%;
  margin: 0 auto;
  background-color: #FF49F5;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 3em;
  font-size: 20px;
}

/*Confirmation Modal
*/

.modal-images {
  width: 75%;
  margin: 0 auto;
}

/*Footer*/

.footer {
  background-color: #000000;
  font-size: 12px;
  color: #FAFAFA;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 2%;
}

.footer-link {
  font-family: 'Roboto';
  color: #108EE9;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 2px;
}

.footer-link:hover {
  color: #FC527F;
  text-decoration: none;
}

.footer-image {
  width: 50px;
  height: 50px;
}
